#project{
    width: 100%;
  
    
}
.projectMenu{
 

    width: 100%;
    
    display: flex;
    flex-direction: row;
    align-items: center;
      
    row-gap: 4rem;
    column-gap: 4rem;
    flex-wrap: wrap;
}
