
.cover {
  backdrop-filter: blur(10px);
  background: linear-gradient(90deg, #000046ac 0%, #1cb5e0a8 100%);
}

.img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  /* background-color: gray; */
}
.img img {
  width: 100%;
  height: 100%;
  transition: 0.5s ease-in-out;
}
.img:hover img {
  filter: brightness(1.3);
  scale: 1.1;
}
