#CmdWorker {
  margin-top: 1rem;
  overflow-y: scroll;
  width: 95%;
  flex: 1;
  ;
}
/* instruction.js */
#Instruct {
  width: 100%;
  /* border: 0.1rem solid #fff; */
  
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  
  font-family: "Ubuntu mono";

  font-size: 1.2rem;
}
#Instruct>p {
  color: #fff;
  width: fit-content;
}

#Command{
  text-indent: 0.5rem;
  caret-color: var(--GreenColor);
  color: var(--GreenColor);
  background-color: transparent;
  border: 0;
  outline: 0;
  font-size: 1.2rem;
  font-family: "Ubuntu mono";
  border: 0.1rem solid #fff;
  min-width: 5rem;
  
}
@keyframes blink {
  0%,
  100% {
    border-right: 0.5rem solid var(--GreenColor);
  }
  50% {
    border-right: 0.5rem solid transparent;
  }
}

/* Response from command */
.Response{
  /* background-color: #fff; */
  margin: 1rem 0;
  font-size: 1.2rem;
  width: 100%;
  font-family: "Ubuntu mono";
  /* font-weight: bold; */
}
.Response p{
 /* border: 0.1rem solid gray; */
 margin-bottom: 0.2rem;
 text-wrap: wrap;
 color: rgb(202, 199, 199);
}
.Response span{
  color: var(--GreenColor);
  margin-right: 0.4rem;
}