#SkillSec{
    width: 100%;

    position: relative;
    z-index: 1;
    background-color: var(--BgColor);

}
#SkillSec::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    inset: 0;
    background: url("../../../public/graphics/skills.jpg") no-repeat center center/cover;
    opacity: 0.3;
    
}
.skillCont{
   
    width: 100%;
    display: flex;
    background-color: #082750c0;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 2rem;
    row-gap: 2rem;
    padding: 1rem;
}

.skillCont p{
    border: 0.1rem solid var(--RedColor);
    font-family: "Anton";
    letter-spacing: 0.2rem;
    font-size: 1.3rem;
    color: transparent;
    -webkit-text-stroke: 1px #03edd9;
    padding: 0.5rem;
    border-radius: 2rem;
    background-color: #756a0733;
    /* margin: 1rem; */
    cursor: default;
}
