.Nav{
    width: 100vw;
    background-color: var(--Bg2);
}
.row *{
    /* border: 0.1rem solid #000; */
}
.row{
    width: 100%;
    display: flex;
    height: 4rem;
}
.row1{
    display: flex;
    width: 10%;
    /* border: 0.1rem solid #fff; */
    align-items: center;
    justify-content: center;
}
.row1 p{
    font-size: 1.6rem;
    color: rgb(255, 255, 255);
    border: 0.1rem solid #fff;
    padding: 0.5rem;

}
.row2{
    display: flex;
    justify-content: center;
    width: 90%;
    align-items: center;
    /* border: 0.1rem solid #fff; */

}
.row2 p{
    margin-left: 2rem;
    color: var(--Bg4);
    font-size: 1.2rem;
    font-family: "Arial Narrow";
    letter-spacing: 0.2rem;
}