#Home {
  width: 100%;
  height: 100%;
}
.IntroLine {
  width: 100%;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
:root {
  --GreenColor: #38ff95;
  --RedColor: #ff1372;
}
/* Responsive after 900px */
@media screen and (min-width: 900px) {
  .IntroLine {
    flex-direction: row-reverse;
  }
}
